.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.todo-item__status {
  flex-shrink: 0;
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.todo-item--done .todo-item__status {
  border-color: #ccc;
  background-color: #ccc;
  position: relative;
}

.todo-item--done .todo-item__status:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 2px;
  left: 2px;
  transform: rotate(-45deg);
}



.todo-item__name {
  flex-shrink: 0;
  flex-grow: 1;
}

.todo-item--done .todo-item__name span {
  color: #ccc;
  position: relative;
}

.todo-item--done .todo-item__name span:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}



.todo-item__delete {
  flex-shrink: 0;
  margin: 0 0 0 10px;
}